<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="center">
    <ion-button (click) = "toChat()">CHAT</ion-button>
  </div>
  <h1 class="center">Welcome to My chat App</h1>
  <div id="firebaseui-auth-container"></div>
  <div id="loader">Loading...</div>
</ion-content>
